
.size-1 {
	padding-left: 	6px;
}

.a0 {
	border: 	solid 2px black;
	width: 		400px;
	height: 	450px;
    padding: 	2px;
    position: 	absolute;
    left: 		2px;
    top: 		2px;	
}

.sizeable {
	border: 	solid 1px black;
	padding: 	2px;
	position: 	absolute;
}

.sizer {
	border:     solid 1px gray;
	position:   absolute;
	width:      14px;
	height:     14px;
}
